* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  color: #8d8d8d;
  background: #faf4f2;
}

.clear {
  clear: both;
}

/* start header */

.header {
  padding: 30px 0 10px 50px;
  background: #f8e1db;
}

.header ul {
  margin-top: 20px;
}

.header ul li {
  display: inline;
  margin-right: 40px;
}

.header li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}
/* end header */

/* start banner */

.banner {
  background-image: url(./img/BG.png);
  height: 80vh;
  min-height: 800px;
  background-size: cover;
  background-position: center;
}

/* end banner */

/* start activities */

.activities {
  padding: 50px 0;
  text-align: center;
}

.activities__title {
  text-align: center;
  margin-bottom: 10px;
}

.activities__title h2 {
  color: #8d8d8d;
  font-size: 30px;
}

.activities__item {
  float: left;
  width: 25%;
  text-align: center;
  padding: 15px;
}

.item__container {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
}

.item__img img {
  width: 100%;
  border-radius: 20px;
}

.item__img {
  position: relative;
}

.img__heart {
  background-color: rgba(255, 255, 255, 0.699);
  position: absolute;
  top: 30px;
  right: 30px;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 14px;
  cursor: pointer;
  font-weight: bold;
}

.img__heart i {
  color: red;
}

.item__desc h3 {
  color: #3b3735;
  font-size: 18px;
  line-height: 28px;
  margin-top: 11px;
}

.item__desc p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 25px;
}

.item__desc button {
  padding: 13px 54px;
  border-radius: 25px;
  color: #8d8d8d;
  background-color: rgba(232, 232, 232, 0.233);
  font-size: 15px;
  border: transparent;
  cursor: pointer;
}

.activities__all {
  text-align: center;
  padding: 13px 71px;
  border-radius: 25px;
  color: #e87457;
  border: 1px solid #e87457;
  cursor: pointer;
  margin-top: 20px;
  background-color: transparent;
}

.item__desc button:hover,
.activities__all:hover {
  background-color: #e87457;
  color: white;
}

/* end activities */

/* start contact */

.contact {
  background-color: #f8e1db;
  border-radius: 20px;
  margin-bottom: 100px;
}

.contact__left {
  background-image: url(./img/mask.png);
  background-size: cover;
  background-position: center;
}

.contact__left,
.contact__right {
  float: left;
  width: 50%;
  padding: 20px 60px;
}

.contact__right {
  padding-top: 70px;
}

.contact__right p {
  margin: 12px 0 30px;
}

.contact__right h3 {
  margin-bottom: 21px;
}

.contact__app,
.contact__us {
  float: left;
  width: 50%;
}

.contact__app a {
  text-decoration: none;
}

.contact__us a {
  text-decoration: none;
}

.contact__us i {
  color: #e87457;
  font-size: 25px;
  margin-right: 10px;
}

/* end contact */

/* start footer */

.footer {
  background-color: #f8e1db;
  padding: 50px 20px;
  border-radius: 100px 100px 0 0;
  color: #3b3735;
}

.footer__hicamp,
.footer__aboutus {
  float: left;
  padding: 10px 20px;
}

.footer__hicamp {
  width: 40%;
  line-height: 28px;
}

.footer__aboutus {
  width: 60%;
}

.footer__hicamp h3,
.footer__aboutus h3 {
  margin-bottom: 21px;
  font-weight: bold;
  font-size: 18px;
}

.footer__item {
  float: left;
  width: 33%;
}

.footer__item ul li {
  list-style: none;
  margin-bottom: 12px;
}

.footer__item a {
  text-decoration: none;
  color: #3b3735;
}

.footer__copyright {
  margin-top: 15px;
  text-align: center;
}

/* end footer */
